@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import './varibles.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $bodyFont;
}
.my_width{
    width: 65%;
    margin: 0 auto;
}
.far,
.fas,
fab{
    cursor: pointer;
}